.publication {
    display: flex;
    line-height: 1.5em;
    margin-bottom: 1.7em;
}

.publication .thumbnail{
    min-width: 5.5em;
    height: 5.5em;

    margin: 0.5em 1.5em 0 0;
}

.publication .thumbnail img{
    width: 5.5em;
    height: 5.5em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.10);
}

.publication .title{
    font-size: 1.3em;
    font-weight: 400;
    color: #000000;
    font-family: "Harding","Lora",Palatino,Times,"Times New Roman",serif;
}

.publication .tag {
    line-height: 1em;
}

.publication .author{
    margin-top: 0.3em;
    font-size: 0.9em;
    color: #333;
}

.publication .venue{
    font-size: 0.9em;
}

.publication .badge-icon-orange {
    color: #f7a42d;
    border: 1px solid #f7a42d;
}

.publication .badge-icon-blue {
    color: #ffa215;
    border: 1px solid #ffa215;
}

.publication .badge-icon-orange.selected {
    color: #fff;
    background-color: #439fd4;
}

.publication .badge-icon-blue.selected {
    color: #fff;
    background-color: #ffa215;
}
